- title 'Artist: '+@artist.name
%p
  = link_to "Edit", edit_artist_registration_path(@artist)
%p
  %strong Name:
  = @artist.name
%p
  %strong Description:
  = @artist.description
%p
  %strong Phone:
  = @artist.phone
%p
  %strong Email:
  = @artist.email

%p
  %strong Artworks:
  %ul
    - @artist.artworks.each do |a|
      %li=link_to(a.name, artists_artwork_path(a))
%p= link_to "Add artwork", new_artists_artwork_path
