%h1 Listing bids

%table
  %tr
    %th User
    %th Artwork
    %th Amount
    %th
    %th
    %th

  - @bids.each do |bid|
    %tr
      %td= bid.bidder.name
      %td= bid.bidder.email
      %td= bid.artwork_id
      %td= link_to(image_tag(bid.artwork.image.thumb('100x100').url), bid.artwork)
      %td= bid.amount
      %td= link_to 'Show', admin_bid_path(bid)
      %td= link_to 'Destroy', admin_bid_path(bid), :confirm => 'Are you sure?', :method => :delete

%br

