- title "Unrecognised"

%h3 Welcome to our Online Auction - Closing 8pm this Friday. (26th August)
%p All proceeds from the sales go towards helping the Active Stills photography collective (Palestine/Israel) continue their amazing work in documenting the situation in occupied Palestine.
%p To place a bid just click "Place bid" on the artwork page, you will be asked to signup, then you can enter your bid.
%p Bidders from outside Wellington: we can post items to you at your expense.

%p On monday night we will have automatic email notifications to let you know if you have been out bid.

%p Please note that the final sale is between the bidder and the seller of the work. If you are lucky enough to win one of the works, we will pass on your contact details to the Artist who will contact you to arrange the sale.

%p While we have done our best to ensure the information on this page is correct, please be advised that any pricing errors can be mediated at the end of the auction with the seller.

%p If you have any urgent queries in regard to the auction you can email concernedsubmissions@gmail.com

%p Artists can update their submission information by clicking "artists sign in"

%p Total raised so far: $#{@total_raised} from #{@total_bids} bids
-@artists.each do |artist|
  %h2=artist.name
  %p=simple_format auto_link artist.description
  %ol.artworks
    -artist.artworks.each do |a|
      -if a.image
        %li
          =link_to(image_tag(a.image.thumb('100x100>').url), a, :id => "artwork_#{a.id}")
          %br
          -if a.auction_physical 
            -if a.leading_bid
              bid: $#{a.leading_bid.amount}
            -else
              no bids

            -if a.auction_reserve_price
              res: $#{a.auction_reserve_price}
            -else
              no reserve
          
          


