- title "Artworks"

%table
  %tr
    %th Name
    %th Description
  - for artwork in @artworks
    %tr
      %td= artwork.name
      %td= artwork.description
      %td= link_to 'Show', artwork
      %td= link_to 'Edit', edit_artwork_path(artwork)
      %td= link_to 'Destroy', artwork, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Artwork", new_artwork_path
