- title "Artwork"

%p
  %strong Name:
  = @artwork.name
%p
  %strong Description:
  = @artwork.description
%p
  %strong Image:
  = @artwork.image.thumb('400x400#').url if @artwork.image
%p
  %strong Downloadable
  = @artwork.downloadable.inspect
%p
  %strong Physical being delivered
  = @artwork.physical_being_delivered.inspect
%p
  %strong Physical being delivered to
  = @artwork.delivering_to

%p
  = link_to "Edit", edit_artwork_path(@artwork)
  |
  = link_to "Destroy", @artwork, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", artworks_path
