- title "#{@artwork.name} by #{@artwork.artist.name}" 
#artwork
  = image_tag @artwork.image.thumb('800x800').url if @artwork.image
%p
  %strong Name:
  = @artwork.name
%p
  %strong Description:
  = @artwork.description
%p
  %strong Dimensions
  = @artwork.dimensions
%p
  %strong Auction reserve price
  = @artwork.auction_reserve_price


%p
  prev
  |
  next
  = link_to "View All", artworks_path
