- title "#{@artwork.name} by #{@artwork.artist.name}" 
#artwork
  = image_tag @artwork.image.thumb('800x800').url if @artwork.image
%p
  %strong Name:
  = @artwork.name
%p
  %strong Description:
  = @artwork.description
%p
  %strong Dimensions
  = @artwork.dimensions
  
-if @artwork.auction_physical
  %p
    %strong Auction reserve price
    = @artwork.auction_reserve_price

  -if @artwork.leading_bid
    %p
      %strong Leading Bid
      = @artwork.leading_bid.amount
  -else
    %p No bids yet
  %p
    =link_to("Place bid", new_artwork_bid_path(@artwork))
-else
  %p this artwork is not in the auction


%p
  = link_to "Previous", artwork_path(@artwork.prev)
  = link_to "View All", artworks_path
  = link_to "Next", artwork_path(@artwork.next)
