- title "Artworks"
%p leading bids total: #{@total_raised}
%table
  %tr
    %th Artist Name
    %th Artist Email
    %th Artwork id
    %th Artwork Name
    %th Downloadable
    %th physical?
    %th being auctioned?
    %th reserve
    %th leading bid
    %th leading bid email
    %th view bids
    %th dimensions
    %th link
    %th image dl
    %th email winner
  - for artwork in @artworks
    -if params[:sold] == 'true'
      - next if artwork.leading_bid.nil?
    -elsif params[:sold] == 'false'
      - next if !artwork.leading_bid.nil?
      - next if !artwork.physical_being_delivered
    %tr
      %td= artwork.artist.name if artwork.artist
      %td= artwork.artist.email if artwork.artist
      %td= artwork.id
      %td= artwork.name
      %td= artwork.downloadable.inspect
      %td= artwork.physical_being_delivered.inspect
      %td= artwork.auction_physical.inspect
      %td= artwork.auction_reserve_price.inspect
      %td= link_to(artwork.leading_bid.amount, admin_bid_path(artwork.leading_bid)) if artwork.leading_bid
      %td= artwork.leading_bid.bidder.email if artwork.leading_bid
      %td= link_to "view bids", admin_artwork_bids_path(artwork)
      %td= artwork.dimensions
      %td= link_to 'Show', admin_artwork_path(artwork)
      %td= link_to 'Original Image', artwork.image.url if artwork.image
      %td= link_to 'Email winner', email_winner_admin_artwork_path(artwork), :method => :post if artwork.leading_bid and !artwork.winner_emailed


